<div class="row">
  <div class="col-sm-6">
    <div class="card-box">

      <h4 class="header-title m-t-0 m-b-30">Ajouter un nouveau produit</h4>

      <div class="row">
        <div class="col-lg-6">
          <div class="col-sm-8 col-sm-offset-2">
            <form [formGroup]="form" (ngSubmit)="addProduct()">
              <div class="form-group">
                <label for="label">Label</label>
                <input type="text" id="label" class="form-control" formControlName="label">
                <span *ngIf="!form.controls['label'].valid && form.controls['label']?.touched" class="error">Le label est requis</span>
              </div>
              <div class="form-group">
                <label for="prix">prix</label>
                <input type="text" id="prix" class="form-control" formControlName="prix">
                <span *ngIf="!form.controls['prix'].valid && form.controls['prix']?.touched" class="error">Le prix est requis</span>

              </div>
              <div class="form-group">
                <label for="quantite">quantite</label>
                <input type="text" id="quantite" class="form-control" formControlName="quantite">
                <span *ngIf="!form.controls['quantite'].valid && form.controls['quantite']?.touched" class="error">La quantité est requise</span>

              </div>
              <div class="form-group">
                <label for="image">Image</label>
                <input type="file" class="form-control" 
                 (change)="imageUpload($event)">
              </div>
             
              <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Ajouter</button>
            </form>
          </div>


        </div><!-- end col -->



      </div><!-- end row -->
    </div>
  </div><!-- end col -->
</div>