<div class="row">
  <div class="col-sm-6">
    <div class="card-box">

      <h4 class="header-title m-t-0 m-b-30">Ajouter un nouveau produit</h4>

      <div class="row">
        <div class="col-lg-6">
          <div class="col-sm-8 col-sm-offset-2">
            <form (ngSubmit)="updateProduct()">
              <div class="form-group">
                <label for="label">Prénom</label>
                <input type="text" id="label" class="form-control" name="label" [(ngModel)]="product.label">
              </div>
              <div class="form-group">
                <label for="prix">prix</label>
                <input type="text" id="prix" class="form-control" name="prix" [(ngModel)]="product.prix">
              </div>
              <div class="form-group">
                <label for="quantite">quantite</label>
                <input type="text" id="quantite" class="form-control" name="quantite" [(ngModel)]="product.quantite">
              </div>
             
              <button type="submit" class="btn btn-primary">Modifier</button>
            </form>
          </div>


        </div><!-- end col -->



      </div><!-- end row -->
    </div>
  </div><!-- end col -->
</div>