<!-- Begin page -->
<div id="wrapper">

  <!-- Top Bar Start -->
  <div class="topbar">

    <!-- LOGO -->
    <div class="topbar-left">
      <a href="javascript:" class="logo"><span>Back<span>Office</span></span><i class="zmdi zmdi-layers"></i></a>
    </div>

    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container">

        <!-- Page title -->
        <ul class="nav navbar-nav navbar-left">
          <li>
            <button class="button-menu-mobile open-left">
              <i class="zmdi zmdi-menu"></i>
            </button>
          </li>
          <li>
            <h4 class="page-title">Dashboard</h4>
          </li>
        </ul>

        <!-- Right(Notification and Searchbox -->
        <ul class="nav navbar-nav navbar-right">

          <li class="hidden-xs">
            <form role="search" class="app-search">
              <input type="text" placeholder="Search..." class="form-control">
              <a href=""><i class="fa fa-search"></i></a>
            </form>
          </li>
        </ul>

      </div><!-- end container -->
    </div><!-- end navbar -->
  </div>
  <!-- Top Bar End -->
  <!-- ========== Left Sidebar Start ========== -->
  <div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">


      <div class="user-box">
        <h5 class="label label-success ">Connected</h5>
        <ul class="list-inline">


          <li>
            <a href="javascript:" (click)="logout()" class="text-custom">
              <i class="zmdi zmdi-power"></i>
            </a>
          </li>
        </ul>
      </div>


      <!--- Sidemenu -->
      <div id="sidebar-menu">

        <ul>
          <li *ngFor="let component of components" class="has_sub">
            <a href="javascript:void(0);" class="waves-effect" *ngIf="component.visible">
              <span>{{component.name}}</span>
              <span *ngIf="component.numberAlertes" class="label label-danger ">
                {{component.numberAlertes}}</span>
              <span class="menu-arrow"></span></a>

            <ul class="list-unstyled">
              <li *ngFor="let child of component.childrens">
                <a [routerLink]="child.url">{{child.name}}
                  <span *ngIf="child.numberAlertes" class="label label-danger ">
                    {{child.numberAlertes}}</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <!-- Sidebar -->
      <div class="clearfix"></div>

    </div>

  </div>
  <!-- Left Sidebar End -->

  <div class="content-page">

    <!-- Start content -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- Right Sidebar -->
  <div class="side-bar right-bar">
    <a href="javascript:void(0);" class="right-bar-toggle">
      <i class="zmdi zmdi-close-circle-o"></i>
    </a>
    <h4 class="">Notifications</h4>
    <div class="notification-list nicescroll">


      <ul class="list-group list-no-border user-list">
        <li class="list-group-item">
          <a href="#" class="user-list-item">
            <div class="avatar">
              <img src="assets/images/users/avatar-2.jpg" alt="">
            </div>
            <div class="user-desc">
              <span class="name">Michael Zenaty</span>
              <span class="desc">There are new settings available</span>
              <span class="time">2 hours ago</span>
            </div>
          </a>
        </li>
        <li class="list-group-item">
          <a href="#" class="user-list-item">
            <div class="icon bg-info">
              <i class="zmdi zmdi-account"></i>
            </div>
            <div class="user-desc">
              <span class="name">New Signup</span>
              <span class="desc">There are new settings available</span>
              <span class="time">5 hours ago</span>
            </div>
          </a>
        </li>
        <li class="lis
        t-group-item">
          <a href="#" class="user-list-item">
            <div class="icon bg-pink">
              <i class="zmdi zmdi-comment"></i>
            </div>
            <div class="user-desc">
              <span class="name">New Message received</span>
              <span class="desc">There are new settings available</span>
              <span class="time">1 day ago</span>
            </div>
          </a>
        </li>
        <li class="list-group-item active">
          <a href="#" class="user-list-item">
            <div class="avatar">
              <img src="assets/images/users/avatar-3.jpg" alt="">
            </div>
            <div class="user-desc">
              <span class="name">James Anderson</span>
              <span class="desc">There are new settings available</span>
              <span class="time">2 days ago</span>
            </div>
          </a>
        </li>
        <li class="list-group-item active">
          <a href="#" class="user-list-item">
            <div class="icon bg-warning">
              <i class="zmdi zmdi-settings"></i>
            </div>
            <div class="user-desc">
              <span class="name">Settings</span>
              <span class="desc">There are new settings available</span>
              <span class="time">1 day ago</span>
            </div>
          </a>
        </li>

      </ul>
    </div>
  </div>
  <!-- /Right-bar -->
</div>
<!-- END wrapper -->