<div class="row">
  <div class="col-sm-12">
    <div class="card-box">

      <div class="dropdown pull-right">
        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
          <i class="zmdi zmdi-more-vert"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>

      <h4 class="header-title m-t-0 m-b-30">Liste des produits</h4>


      <table class="table table-striped m-0">
        <thead>
        <tr>
          <th>Id</th>
          <th>Label</th>
          <th>Prix</th>
          <th>Quantite</th>
          <th>Delete</th>
          <th>Modifier</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of tableau">
          <th scope="row">{{row.id}}</th>
          <td>{{row.label}}</td>
          <td>{{row.prix}}</td>
          <td>{{row.quantite}}</td>
          <td><button class="btn btn-danger" (click)="deleteProduct(row.id)">Delete</button></td>
           <td> <button class="btn btn-primary" routerLink="/product/edit-product/{{row.id}}">Modifier</button></td>
        </tr>
        
        </tbody>
      </table>

    </div>
  </div>
</div>
